.div-header{
    position: fixed;
    width: 100%;
    min-width: 1300px;
    margin-bottom: 40px;
}
.feed-body{
    padding-top: 90px;
}
.left{
    float: left;
    height: 100%;
    width: 25%;
    padding:30px 0px;
}
.menu{
    display: block;
    width: 70%;
    padding-left: 105px;
}
.group{
    background-color: white;
    box-shadow: 0px 3px 10px rgb(148, 143, 143);
    display: block;
    min-height:100px;
    padding-left: 4px;
    padding-top: 5px;
    border: .1px solid rgb(136, 136, 136);
    border-radius: 3px;

}
.events{
    background-color: white;
    box-shadow: 0px 3px 10px rgb(148, 143, 143);
    display: block;
    padding-left: 4px;
    padding-top: 5px;
    min-height: 100px;
    margin-top:2px;
    border: .1px solid rgb(136, 136, 136);
    border-radius: 3px;
}


.middle{
    float: left;
    height: 100%;
    width: 50%;
    padding:30px 0px;
}
.post-create-box{
    display: block;
    border: 1px solid rgb(136, 136, 136);
    height: 100px;
    width: 92%;
    background-color: white;
    box-shadow: 0px 3px 10px rgb(148, 143, 143);
    border-radius: 3px;
    margin: 0px 30px 16px 30px;
}
.post-create-box-input{
    display: block;
    border-bottom: 1px solid rgb(136, 136, 136);
    margin: 12px 14px 0px 14px;
    height: 44px;
}
.post-create-box-option{
    display: block;
    height: 44px;
    width: 100%;
}

.write{
    margin-top: 2px;
    padding:0px 8px;
    width: 20px;
}
.ico{
    float: left;
    width:30px;
}
.text{
    font-size: 23px;
    float: left;
    padding: 5px 15px;
}
.option{
    text-align: center;   
}
.pic{
    float: left;
    padding-top: 6px;
    width: 50%;
}
.note{
    float: left;
    padding-top: 6px;
    width: 50%;
}



