#showcase{
    background-color:rgb(229, 240, 240);
    margin-top: 30px;
    opacity: 1;
    position: fixed;
    left: 25%;
    display: none;
    width:700px;
    height: auto;
    border: 1px solid black;
}
.topmost{
    padding:10px;
}
.post-gui{
    display: inline;
    font-size: 30px;
}
.cancell{
    display: inline;
    float: right;
}
#post-pic{
    display: none;
}
.dopost{
    width: 99%;
    min-height:300px;
    max-height: 400px;
    overflow-y: scroll;
    margin: auto;

}
.uppers{
    padding:4px;
    height: 50px;
}
.profile-pic{
    float: left;    
}
.feed-image{
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
.profile-name{
    float: left;
    padding-left: 20px;
    font-size: 20px;
}
.textfield{
    background-color:  rgb(229, 240, 240);
    padding: 10px;
    font-size: 20px;
    border: none;
    width: 96%;
}
.prevpic{
    margin: auto;
    width:650px;
    height:630px;
    display: none;
}
.features{
    padding:3px;
}
.optio{
    float: left;
    padding-left: 20px;
}
.post-btn{
    float: left;
    margin-left: 600px;
    margin-bottom: 10px;
}
.feed-body{
    padding-top: 60px;
}

.left{
    float: left;
    height: 100%;
    width: 25%;
    padding:30px 0px;
}
.menu{
    display: block;
    width: 70%;
    padding-left: 105px;
}
.group{
    background-color: white;
    box-shadow: 0px 3px 10px rgb(148, 143, 143);
    display: block;
    min-height:100px;
    padding-left: 4px;
    padding-top: 5px;
    border: .1px solid rgb(136, 136, 136);
    border-radius: 3px;

}
.events{
    background-color: white;
    box-shadow: 0px 3px 10px rgb(148, 143, 143);
    display: block;
    padding-left: 4px;
    padding-top: 5px;
    min-height: 100px;
    margin-top:2px;
    border: .1px solid rgb(136, 136, 136);
    border-radius: 3px;
}


.middle{
    float: left;
    height: 100%;
    width: 50%;
    padding:30px 0px;
}
.post-create-box{
    display: block;
    border: 1px solid rgb(136, 136, 136);
    height: 100px;
    width: 92%;
    background-color: white;
    box-shadow: 0px 3px 10px rgb(148, 143, 143);
    border-radius: 3px;
    margin: 0px 30px 16px 30px;
}
.post-create-box-input{
    display: block;
    border-bottom: 1px solid rgb(136, 136, 136);
    margin: 12px 14px 0px 14px;
    height: 44px;
}
.post-create-box-option{
    display: block;
    height: 44px;
    width: 100%;
}

.write{
    margin-top: 2px;
    padding:0px 8px;
    width: 20px;
}
.ico{
    float: left;
    width:30px;
}
.text{
    font-size: 23px;
    float: left;
    padding: 5px 15px;
}
.option{
    text-align: center;   
}
.pic{
    float: left;
    padding-top: 6px;
    width: 50%;
}
.note{
    float: left;
    padding-top: 6px;
    width: 50%;
}



