<div class="test-cont">
    <div class="test-head">
        {{hour}}:{{min}}:{{sec}}
    </div>
    <div class="test-body">
        <div class="test-side">
            question n i
        </div>
        <div class="test-main">
            <lable for="question">question 1:</lable>
            <input class="question" name="question"  [(ngModel)]="question1" disabled>
            <br>
            <button class="fnbtn" id="tton" mat-raised-button color="accent">Create New Job</button>
        
        </div>
    </div>
    
</div>
