<div>
    <app-header></app-header>
</div>
<div class="net-main">
    <div class="container">
        <div class="top">
            Pending
        </div>
        <mat-divider></mat-divider>
        <div class="noification1y1">
            <div class="notification" *ngFor="let notif of pending">
                <span routerLink="/dev/:id">{{notif.name}}</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="top">
            Requests
        </div>
        <mat-divider></mat-divider>
        <div class="noification1y1">
            <div class="notification" *ngFor="let notif of sent">
                <span routerLink="/dev/:id">{{notif.name}}</span>
            </div>
        </div>
    </div>
</div>