<header>   
    <div id="logo-div">
        
        <img src="">
        <p>BestChoice</p>
    </div>
    <div id="log-btn-hub">
        <div class="btn-area">
            <p id="login-btn" routerLink="/auth/developer">
                Login
            </p>
            <p id="signup-btn" routerLink="/auth/developer">
                Sign Up
            </p>
        </div>
    </div>
</header>
<div class="log-option">
    <div class="log-header">
        <h>We help Developer reach great hight with their dream company</h>
    </div>
    <div class="log-content">
        <div class="log-for-company">
            <h>For Company</h>
            <p>We are the market–leading technical interview platform to identify and hire developers with the right skills.
            </p>
            <p1 routerLink="/auth/company">Start Remote Hiring</p1>
        </div>
        <div class="log-for-developer">
            <h>For Developer</h>
            <p >Join over 11 million developers, practice coding skills, prepare for interviews, and get hired.
            </p>
            <p1 routerLink="/auth/developer">Sign Up and Code</p1>
        </div>
    </div>
</div>
