<div class="header-body">
    <div class="first-half">
        <div class="search">
            <input [(ngModel)]="search" (keyup.enter)="onkeyup()"/>  
        </div>
    </div>
    <div class="second-half">    
            <mat-icon class="icon" routerLink="/company/:id/feed" aria-hidden="true" aria-label="home">home</mat-icon>
            <mat-icon class="icon" routerLink="/company/:id/network" aria-hidden="false" aria-label="people">people</mat-icon>
            <mat-icon class="icon" routerLink="/company/:id/manage" aria-hidden="false" aria-label="people">business_center</mat-icon>
            <mat-icon class="icon" routerLink="/company/:id/cnotification" aria-hidden="false" aria-label="notification">notifications</mat-icon>
            <mat-icon class="icon" routerLink="/company/:id/message" aria-hidden="false" aria-label="message">message</mat-icon>
            <mat-icon class="icon" routerLink="/company/:id" aria-hidden="false" aria-label="message">mood</mat-icon>
    </div>
</div>