<div>
    <app-header></app-header>
</div>
           
    <div class="feed-body">
        <div class="left">
            <div class="menu">
                <div class="group">
                    <p>group</p>
                </div>
                <div class="events">
                    <p>events</p>
                </div>
            </div>
        </div>
    
    
        <div class="middle">
            <div class="profile-wrapper">
                <div class="profile-display">
                    <div class="top-profile">
                        <div class="cover-pic">
                            <img class="feed-image" src="..\assets\cancer-hospital.jpg" alt="not found" width="100%" height="200px">
                        </div>
                        <div class="profile-main">
                            <h>.</h>
                            <div>
                                <img class="upload-dp" [src]="dpo" alt="server not connected"/>
                                </div>
                            <div class="adding-option">
                                <div class="Add-fileds">
                                    <button class="fnbtn" mat-raised-button color="primary">Follow</button> 
                                </div>
                            </div>
                            <div class="details">
                                <div class="name">
                                    {{title}}
                                </div> 
                                <div class="location">
                                    {{address}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        <notify-me></notify-me>
        
    </div>
    
