body{
    height: 100vh;
}
.main-container{

    width: 100%;
    min-width: 1300px;
    text-align: center;
}
#wrapper{
    background-color: whitesmoke;
    width: 40%;
    border: 1px solid rgb(218, 208, 208);
    margin: 100px 30% 40px 30%;
    left: 30%;
}
.main-container-header{
   width: 100%;
   height: 50px;
   font-size: 19px;
   font-family: SimSun-ExtB;
}
form{
    width: 100%;
}
#log-tag{
    padding-top: 16px;
    width: 50%;
    height: 50px;
    display: inline-block;
}
#sign-tag{
    padding-top: 16px;
    width: 50%;
    background-color: white;
    height: 50px;
    display: inline-block;
}

#logIn-form{
    width: 100%;
    height: 200px;
    display: block;
}
#logIn-form input{
    height: 30px;
}
#signUp-form{
    width: 100%;
    
    display: none; 
}
#signUp-form input{
    height: 30px;
}
