
<body>
   
    <div class="main-container">
      <div class="heading">
        <h>Web Name</h>
        <h1>For Developer</h1>
        <h2>You Are A Step Away From Glory</h2>
      </div>
      <div id="wrapper">
        <div class="main-container-header">
          <p id="log-tag" (click)="headTologForm()">
            Log In
          </p>
          <p id="sign-tag" (click)="headTosignForm()">
            Sign In
          </p>
          
        </div>
        <br>
        <div id="logIn-form">
          <form (submit)="logIn($event)">
            <Label>Email:   </Label>
            <br>
            <input required class="email" type="email"  size="80%" name="email" placeholder="email">
            <br>
            <br>
            <br>
            <label>Password:</label>
            <br>
            <input required class="password" id="password" size="80%" placeholder="password...">
            <br>
            <button type="submit">LogIn</button>
          </form>
        </div>
        <div id="signUp-form">
          <form (submit)="signUp($event)">
            <Label>Email:   </Label>
            <br>
            <input required class="email" type="email" size="80%" name="email" placeholder="email">
            <br>
            <label>Password:</label>
            <br>
            <input required class="password" id="password" size="80%" placeholder="password...">
            <br>
            <label>Confirm Password:</label>
            <br>
            <input required class="confirmPassword" size="80%" id="confirmPassword" placeholder="confirm password...">
            <br>
            <button type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </body>