<div>
    <app-header-c></app-header-c>
</div>
<div class="job-main">
    <div class="job-wrapp">
        <div class="table">
            <div class="table-header">
                <div class="table-header-text">
                    Post that has Closed for further Applications 
                </div>
            </div>
            <div class="table-data">
                <div *ngIf="isClosedList; else noOneClosed">
                    <div class="outerBox" *ngFor="let closedjob of closedList;let i = index">
                        <div class="post">
                            <div class="titleof">
                                Post:
                            </div>
                            {{closedjob.post}}
                        </div>
                        <div class="fromwhom">
                            <div class="titleof">
                                Created By
                            </div>
                            {{closedjob.createdBy}}
                        </div>
                        <div class="displayfunction" id="{{i}}" (click)="shoeDetails($event)">
                            Show/Hide Details
                        </div>
                        <div class="form-area" id="form-area{{i}}" >
                            <div class="titleof">
                                Description
                            </div>
                            {{closedjob.description}}
                            <div class="titleof">
                                Skills
                            </div>
                            <ul>
                           <div *ngFor="let skill of closedjob.recommended">
                              <li> {{skill}}</li>
                           </div>
                        </ul>
                        </div>
                        <div class="applicant-list">
                            <ul>
                            <div class="applicant-rows" *ngFor="let applicant of closedjob.applicants">
                                <li (click)="seedev($event)" [id]="applicant.dev">{{applicant.name}}</li>
                            </div>
                        </ul>
                        </div>

                    </div>
                </div>
                <ng-template  #noOneClosed>
                   <div class="noOneClosed">
                    No Applications has passed deadline
                   </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
