<div *ngIf="asss else dev">
    <app-header-c></app-header-c>
</div>
<ng-template #dev>
    <app-header></app-header>
</ng-template>
<div class="message-body">
    <div class="message-page-right">
        <div class="connection-list" >
            <div class="list-header">
                <h>Messaging</h>
                <button class="icon" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon class="icon" aria-hidden="false" aria-label="people">dehaze</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon  >group_add</mat-icon>
                      <span>New Group Conversation</span>
                    </button>
                    <button   mat-menu-item>
                      <mat-icon  >insert_comment</mat-icon>
                      <span>Message Request</span>
                    </button>
                  </mat-menu>
            </div>
            <div class="search-option">  
                <mat-form-field class="example-form-field">
                    <input class="searchIt" type="text" [(ngModel)]="search" (keyup)="onkeyup()"
                             placeholder="Search the contact"
                             matInput>
                </mat-form-field>
                
            </div>
            <div class="contect-list">
                <div (click)="setUser($event)" [id]="comp._id" class="contect" *ngFor="let comp of compstos"  >
                    <img (click)="setUser($event)" [id]="comp._id" class="dp" [src]="comp.dpo" alt="." width="48" height=auto>
                    <!-- <p class="messenger-name">{{connection.name}}</p> -->
                    <br>
                    <span (click)="setUser($event)" [id]="comp._id">{{comp.title}}</span>
                </div>
                <div (click)="setUser($event)"  [id]="dev._id" class="contect" *ngFor="let dev of userstos" >
                  <img class="dp" (click)="setUser($event)"  [id]="dev._id" [src]="dev.dpo" alt="." width="50" height=auto>
                  <!-- <p class="messenger-name">{{connection.name}}</p> -->
                  <br>
                  <span (click)="setUser($event)"  [id]="dev._id">{{dev.name}}</span>
              </div>
            </div>
        </div>
        <div class="messaging-area">
            <app-textingground [user]="user" [f]="f"></app-textingground>
        </div>
    </div>
    <notify-me>
    
    </notify-me>
</div>

      

