
.div-header{
    position: fixed;
    width: 100%;
    min-width: 1300px;
    margin-bottom: 40px;
}
.message-body{
    padding-top: 60px;
   /* // margin-bottom: 60px; */
}
.message-page-right{
    float: left;
    width:75%;
    margin-top: 30px;
}
.connection-list{
    float: left;
    margin-left: 90px;
    width:29%;
    border: 1px solid rgb(136, 136, 136);
    border-right: 1px solid transparent;
    box-shadow: 0px 3px 10px rgb(148, 143, 143);
    min-height:300px ;
}
.list-header{
    height: 30px;
    border-bottom: 1px solid rgb(136, 136, 136);
    padding:15px 15px 5px 15px;
}
.list-header h{
    font-size: 20px;
    font-weight: bold;
}
.icon{
    float: right;
    font-weight: bold;
}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}
.search-option{
    height: 30px;
    border-bottom: 1px solid rgb(136, 136, 136);
    padding:0px 15px 15px 15px;
    width: 90%;
}
.example-form-field{
    width: 100%;
}
.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .search-full-width {
    width: 100%;
  }
.contect-list{
    width: 100%;
    padding-bottom:10px;
    font-size: 30px;
    line-height: .5;
    max-height: 224px;
    overflow-y: hidden;
}
span{
    font-size: 14px;
}
.contect{
    height:50px;
    padding:5px 9px;
    border-top: 1px solid rgb(136, 136, 136);
}
.dp{
    float: left;
    border-radius: 50%;
    margin-right: 5px;
}
.messenger-name{
    padding-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    float: left;

}
.messaging-area{
    height: 500px;
    border: 1px solid rgb(136, 136, 136);
    box-shadow: 0px 3px 10px rgb(148, 143, 143);
    float: left;
    width:58%;
    margin-bottom: 60px;
}
