.right{
    float: left;
    height: 100%;
    width: 25%;
    padding:30px 0px;
}
.right-notify{
    width:80%;
    border: 1px solid rgb(136, 136, 136);
    box-shadow: 0px 3px 10px rgb(148, 143, 143);
    border-radius: 3px;
    background-color: white;
    height: 215px;
    min-height: 215px;
    overflow: hidden;
}
.notify-header{
    padding:5px 4px 2px 7px;
    background-color: rgba(54, 115, 155, 0.568);
}
span{
    margin-left: 10px;
    font-size: 20px;
}
.notification{
    height: 30px;
    font-size: 10px;
    border-bottom: 1px solid  rgb(136, 136, 136);
}