<app-header></app-header>
<div class="dev-page">
    <div class="right-corner">
        <div class="profile-wrapper">
            <div class="profile-display">
                <div class="top-profile">
                    <div class="cover-pic">
                        <img class="feed-image" src="..\assets\cancer-hospital.jpg" alt="not found" width="100%" height="200px">
                    </div>
                    <div class="profile-main">
                        <h>appp</h>
                        <div class="upload-dp" onclick="document.getElementById('dp').click();">
                            <div for="dp">+</div>
                            <input type="file" id="dp" name="dp" class="dpUp" accept="image/*">
                        </div>
                        <div class="adding-option">
                            <div class="Add-fileds">
                                <mat-icon class="material-icons-outlined">create</mat-icon>
                            </div>
                        </div>
                        <div class="details">
                            <div class="name">
                                {{name}}
                            </div> 
                            <div class="location">
                                {{location}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about">
                <div class="about-header">
                    About
                </div>
                <div class="about-containt">
                    {{about}}
                </div>
            </div>
            <div class="skill-show">
                <div class="skill-header">
                    Skills and Interest
                </div>
                <div class="sills">
                    <mat-chip-list
                        class="skill-list"
                        cdkDropList 
                        cdkDropListOrientation="horizontal"
                        (cdkDropListDropped)="skill($event)">
                        <mat-chip
                        class="chip"
                        cdkDrag
                        *ngFor="let skill of skills">
                        {{skill}}
                        </mat-chip>
                        </mat-chip-list>
                        <mat-divider></mat-divider>

                </div>
                <div class="intrests">
                    <mat-chip-list
                        class="intrest-list"
                        cdkDropList 
                        cdkDropListOrientation="horizontal"
                        (cdkDropListDropped)="intrest($event)">
                        <mat-chip
                        class="chip"
                        cdkDrag
                        *ngFor="let intrest of intrests">
                        {{intrest}}
                        </mat-chip>
                        </mat-chip-list>
                </div>
            </div>
        </div>
        
    </div>
    <notify-me></notify-me>
</div>