.post-feed{
    display: block;
    border: 1px solid rgb(136, 136, 136);
    width: 92%;
    background-color: white;
    box-shadow: 0px 3px 10px rgb(148, 143, 143);
    border-radius: 3px;
    margin: 6px 30px;
}
.auther-dp{
    float: left;
    width: 70px;
    height: 60px;
    padding-top:14px;
    padding-left: 14px;
}
.dp{
    border-radius: 50%;
    border: 2px solid rgb(126, 164, 185);
}
.auther-detail{
    float: left;
    margin-top: 30px;
    height: auto;
    line-height: 1;
}
.caption{
    margin:60px 0px;
    padding: 0px 20px;
    text-align: left;
    font-size: 15px;
}
.caption h{
    padding: 0px;
    margin: 0px;
    text-align: left;
}
.post-reaction{
    height: 50px;
}
.reaction-detail{
    padding-left: 20px;
    border-bottom: 1px solid rgb(136, 136, 136);
}
.icon{
    margin: 2px 17px;
}