<div class="header-body">
    <div class="first-half">
        <div class="search">
            <input class="searchit" (mouseover)="opensearchresult()" [(ngModel)]="search"  placeholder="Search..." (keyup)="onkeyup()"/>  
        </div>
    </div>
    <div class="second-half">    
            <mat-icon class="icon" routerLink="/feed" aria-hidden="true" aria-label="home">home</mat-icon>
            <mat-icon class="icon" routerLink="/network" aria-hidden="false" aria-label="people">people</mat-icon>
            <mat-icon class="icon" routerLink="/work-related" aria-hidden="false" aria-label="people">work</mat-icon>
            <mat-icon class="icon" [matBadge]="count" matBadgeColor="warn" routerLink="/notification" aria-hidden="false" aria-label="notification">notifications</mat-icon>
            <mat-icon class="icon" routerLink="/message" aria-hidden="false" aria-label="message">message</mat-icon>
            <mat-icon class="icon" routerLink="/profile" aria-hidden="false" aria-label="message">mood</mat-icon>
            <mat-icon class="icon" (click)="logout()" aria-hidden="false" aria-label="trending_flat">trending_flat</mat-icon>
    </div>
</div>
<div id="sidesearchreasult">
    <div class="close" (click)="hidesearchresult()">
        ~~~~~~~~~BACK~~~~~~~~~
    </div>
    <div class="fordev">
       
        <div class="user" (click)="nevigateToDevById($event)" *ngFor="let usere of userstos" [id]="usere._id">
            <div class="fordp">
                <img (click)="nevigateToDevById($event)" [id]="usere._id" class="imagee" [src]="usere.dpo">
            </div>
            <div (click)="nevigateToDevById($event)"  [id]="usere._id" class="forname">
                {{usere.name}} 
            </div>
        </div>     
    </div>
    <div class="forcomp">
        <div class="user" (click)="nevigateToCompById($event)" *ngFor="let comp of compstos" [id]="comp._id">
            <div class="fordp">
                <img (click)="nevigateToCompById($event)"  [id]="comp._id" class="imagee" [src]="comp.dpo">
            </div>
            <div (click)="nevigateToCompById($event)"  [id]="comp._id" class="forname">
                {{comp.title}} 
            </div>
        </div>  
    </div>
</div>