<div class="header-body">
    <div class="first-half">
        <div class="search">
            <input class="searchit" [(ngModel)]="search"  placeholder="Search..." (keyup.enter)="onkeyup()"/>  
        </div>
    </div>
    <div class="second-half">    
            <mat-icon class="icon" routerLink="/dev/feed" aria-hidden="true" aria-label="home">home</mat-icon>
            <mat-icon class="icon" routerLink="/dev/:id/network" aria-hidden="false" aria-label="people">people</mat-icon>
            <mat-icon class="icon" routerLink="/dev/:id/work-related" aria-hidden="false" aria-label="people">work</mat-icon>
            <mat-icon class="icon" routerLink="/dev/:id/notification" aria-hidden="false" aria-label="notification">notifications</mat-icon>
            <mat-icon class="icon" routerLink="/message" aria-hidden="false" aria-label="message">message</mat-icon>
            <mat-icon class="icon" routerLink="/dev/:id" aria-hidden="false" aria-label="message">mood</mat-icon>
    </div>
</div>